#debugfield {
	position: absolute;
	left: 20px;
	top: 590px;
	width: 640px;
	height: 200px;
	background: #FFFFFF;
	border-width: 2px;
	border-style:solid;
	border-color: #000000;
	font-size: 10px;
	overflow: auto;
	display: none;
}

#playerRegisterdata {
	text-align: center;
	}

#gamefieldplace {
	background: #FFFFFF;

}
	
#gamefield {
	position: absolute;
	top: 30px;
	left: 25px;
	width: 640px;
	height: 480px;
	background: #FFFFFF;
	border-width: 2px;
	border-style:solid;
	border-color: #000000;
	z-index: 2;
}

.gamefield {
	width: 640px;
	height: 480px;
	background: #FFFFFF;
}

.tile32 {
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 32px;
	height: 32px;
	background: #0000FF;
	z-index: 3;
}
.shoot32 {
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 32px;
	height: 32px;
	z-index: 4;
}

.bonusitem32 {
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 32px;
	height: 32px;
	z-index: 5;
}

.player32 {
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 32px;
	height: 32px;
	z-index: 6;
}

.msgboxshow {
	position: absolute;
	left: 45px;
	top: 35px;
	width: 600px;
	height: 440px;
	visibility: visible;
	display: block;
	z-index: 9;
}

.msgboxhide {
	position: absolute;
	left: -800px;
	top: 20px;
	width: 600px;
	height: 440px;
	z-index: 9;
	visibility: hidden;
	display: none;
}

.msgboxdataviewpart {
	padding: 10px;
	text-align: center;
}

.cacheclass {
	position: relative;
	left: -250px;
	top: 0px;
	margin: 0px;
	padding: 0px;
	width: 32px;
	height: 32px;
	z-index: 0;
	background: #FFFFFF;
}

