body {
	text-align: center;
	background: #5050D0;
	color: #000000;
	width: 99%;
	min-height: 80%;
	margin: 0px;
	margin-top: 20px;
	padding: 0px;	
	font-size: 10px;
}

a {
	text-decoration: none;	
	color: #0000FF;
}
a:HOVER {
	text-decoration: underline overline;
	color: #0000FF;	
}
a:ACTIVE {
	color: #0000FF;
	
}
a:LINKED {
	color: #0000FF;
}
	
p {
	margin-top: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	}

#container {
	vertical-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;	
}
	
#main {
	width: 500px;
	margin: 0px;
	padding: 0px;	
}

#gamefield {
		background: #FFFFFF;
}

#start {
	cursor:pointer;
	font-weight: bolder;
	font-size: 24px;
	background: #D0D0D0;
	width: 150px;
	height: 50px;
	color: #0000FF;
	border-width: 2px;
	border-style:solid;
	border-color: #000000;
	text-align: center;
	vertical-align: center;
	margin: 0px;
	padding: 0px;
}

#start:HOVER {
	cursor:pointer;
	background: #D0D0F0;
	color: #0000FF;
}


#system {
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	padding-left: 30px;
	color: #000000;
}